.stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hbox {
  display: flex;
}

.hbox.h-center {
  justify-content: center;
}

.hbox.v-top {
  align-items: flex-start;
}

.hbox.v-center {
  align-items: center;
}

.hbox.v-bottom {
  align-items: flex-end;
}

.hbox > .item:not(:last-child) {
  margin-right: 20px;
}

.gutter > * {
  margin-left: 20px;
}